switch {
    border-radius: 999px;
    background-color: rgb(228, 228, 228);
    transition: background-color 200ms ease-in-out;
    padding: 0;
    border: none;
}

switch:checked {
    min-height: 22px;
    background-color: rgb(0, 250, 80);
}

switch:checked slider {
    margin-right: -5px;
    margin-left: 2px;
}

switch slider {
    min-width: 34px;
    min-height: 18px;
    margin: 2px;
    margin-left: -5px;
    border-radius: 999px;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    transition:
        margin-left 220ms cubic-bezier(0.34, 1.56, 0.64, 1),
        box-shadow 200ms ease;
}




.sidebar-row, button,activatable {
    border-radius: 33px;
}


entry{
border-radius: 33px;
margin-left: 5px;
}
box,tab{
border-radius: 33px;
}
.navigation-sidebar row{
border-radius:33px;
}
.navigation-sidebar row{
border-radius: 33px;
}
child{
border-radius:12px;
}

.sidebar-pane   .toggle {
border-radius:33px;
background: #E0E0E0;
border-top: #fff 2px solid;
border-bottom: #fff 2px solid;
}
